//Colors
//------Primary Colors------
$primary: #092C4C;
$secondary: #F2994A;
//------State Colors------------
$info: #2FB0ED;
$sucess: #27AE60;
$warning: #E2B93B;
$error: #EB5757;
//------Black and White Colors-------
$black1: #000000;
$black2: #1D1D1D;
$black3: #282828;
$white: #FFFFFF;
//------Gray Colors--------
$gray1: #333333;
$gray2: #4F4F4F;
$gray3: #828282;
$gray4: #BDBDBD;

//Typography
//------------Fonts-size----------
$heading1: 56px;
$heading2: 48px;
$heading3: 40px;
$heading4: 32px;
$heading5: 24px;
$heading6: 20px;

//Clean the default code
* {
    padding: 0%;
    box-sizing: border-box;
    margin: 0;
}

p{
    font-size: 25px;
    font-family: 'Zen Kurenaido', sans-serif;
}

//Donation screen
.navigation{
    display: flex;
    flex-direction: row;

    &__statistics{ //To show the entrepreneur part.
        &.hidden{
            display: none; //If is not entrepreneur, the software shall not show statistic page
        }
        &.visible {
            display: block; //If is the user is entrepreneur, the software shall show statistic page
        }
    }
}

.donation{
    &__button{
        display: flex;
        flex-direction: row;
    }
}

//HOME PAGE
//Third part 
.recomendations{ //Div name where the recomendation products are uploaded
    display: flex;
    flex-direction: row;
    width: 400px;
    overflow-x: scroll;
}
.recomendation{ //This is the class where only one product is affected. Which means that you can modify this for have uniform
    padding: 10px;
    &__image{
        width: 138px;
        height: 191px;
    }
}

button{ //Bermix ignora esto mientras, solo lo puse para que los botones no se vean feo.
    text-decoration: none;
    border: none;
    background-color: white;
}

