//Colors
//------Primary Colors------
//ROJO
$rojo: #DD3327;
$rojoOscuro:#C02419;
$rojoClaro:#F55A4F;
//NARANJA
$naranja: #FF592A;
$naranjaOscuro:#E24316;
$naranjaClaro:#FF825F;
//ROSA
$rosa: #FF5387;
$rosaOscuro:#E13367;
$rosaClaro:#FF89AC;
//CIELO
$cielo: #55B4FF;
$cieloOscuro:#389BEC;
$cieloClaro:#87C9FF;
//AZUL
$azul: #207AC2;
$azulOscuro: #0B66AF;
$azulClaro: #3794DF;
//LIMON
$limon: #FFD600;
$limonOscuro:#DEBB04;
$limonClaro:#FFED8C;
//AMARILLO
$amarillo: #FF9B1A;
$amarilloOscuro:#DD810A;
$amarilloClaro:#FFCA85;
//------Black and White Colors-------
$oscuro: #14142B;
$oscuroIntermedio: #4E4B66;
//------Gray Colors--------
$gris1: #6E7191;
$gris2: #A0A3BD;
$gris3: #D9DBE9;
$gris4: #EFF0F6;
//------Background-color-------------
$fondo: #F7F7FC;
$blanco: #FCFCFC;


//Typography
//------------Fonts-size----------
$heading1: 20px;
$heading2: 18px;
$heading3: 16px;
$heading4: 14px;

//Clean the default code
* {
    padding: 0%;
    box-sizing: border-box;
    margin: 0;
}

p{
    font-size: 25px;
    font-family: 'Zen Kurenaido', sans-serif;
}

//Donation screen
.navigation{
    display: flex;
    flex-direction: row;

    &__statistics{ //To show the entrepreneur part.
        &.hidden{
            display: none; //If is not entrepreneur, the software shall not show statistic page
        }
        &.visible {
            display: block; //If is the user is entrepreneur, the software shall show statistic page
        }
    }
}

.donation{
    &__button{
        display: flex;
        flex-direction: row;
    }
}

//HOME PAGE: CLIENT
//HOME PAGE: CLIENT FIRST PART
.histories{
    display: flex;
    flex-direction: row;
    width: 400px;
    overflow-x: scroll;
}

.history{
    &__image{
        margin: 10px;
        border-radius: 40px;
        width: 56px;
        height: 56px;
    }
    &__notEntrepreneurs{
        display:none;
    }
}

//HOME PAGE: CLIENT SECOND PART
.filter{
    width: 430px; //The size of celphone or app (this may change if the celphone has diferent size of display)
    height: 100px; //The size may change if the celphone has diferent size of display
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: scroll;
    & button{
        padding: 10px;
        margin: 2px 10px 2px 10px;
        border: black;
        background-color: $cielo;
        width: 138px;
        height: 38px;
    }
}

//HOME PAGE: CLIENT THIRD PART 
.recomendations{ //Div name where the recomendation products are uploaded
    display: flex;
    flex-direction: row;
    width: 400px;
    overflow-x: scroll;
}
.recomendation{ //This is the class where only one product is affected. Which means that you can modify this for have uniform
    padding: 10px;
    &__image{
        width: 138px;
        height: 191px;
    }
}

//HOME PAGE: ENTREPRENEUR
//HOME PAGE: ENTREPRENEUR SECOND PART
.lesson{
    background-color: $cieloClaro;
}
//HOME PAGE: ENTREPRENEUR THIRD PART
.activities{
    background-color: $gris3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10px;
    &__money{
        display: flex;
        flex-direction: row;
        align-content: space-around;
    }
}

.activity{
    display: flex;
    flex-direction: row;
    &__upcoming, &__chat{
        display: flex;
        flex-direction: column;
    }
}
//HOME PAGE: ENTREPRENEUR FOURTH PART
.metric{
    display: flex;
    flex-direction: row;
}

.followers, .soldout, .profiles{
    background-color: $cieloClaro;
    display: flex;
    flex-direction: column;
    align-items: center;
}

//HOME PAGE: FINAL PART
.communities{
    display: flex;
    flex-direction: row;
    width: 400px;
    overflow-x: scroll;
}

.community{
    padding: 10px;
}

button{ //Bermix ignora esto mientras, solo lo puse para que los botones no se vean feo.
    text-decoration: none;
    border: none;
    background-color: white;
}

